<ion-header>
  <ion-navbar>
    <ion-title>
      Automatischer Webseiten-Parser
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!loading; else loadingScreen">
    <h4>Letztes Resultat</h4>
    <h6>{{result}}</h6>
    <div>Abgerufen am:</div>
    <div>{{timestamp}}</div>
  </div>
  <ng-template>
    <div #loading>
      <p>Lade den aktuellen Stand von:</p>
      <p>{{url}}</p>
    </div>
  </ng-template>
  <div>
    <button ion-button full color="dark" (click)="update()" [disabled]="false">Aktualisieren</button>
  </div>

  <hr>

  <h4>Channels</h4>
  <div *ngFor="let channel of channels">
    <ion-item>
      <ion-label>{{channel.title}}</ion-label>
      <ion-checkbox [(ngModel)]="channel.activated" (click)="updateSubsciption(channel)"></ion-checkbox>
    </ion-item>
  </div>
</ion-content>
